@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
body:not(#home), .modal-content{
    background-color: #fbeed8;
}

.modal-header, .modal-footer{
    background-color: #FFF;
}
.modal-title{
    color:white;
}

.card{
    color: #0243bb;
    border: 1px solid #0243bb;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 4px;
}

h5{
    font-variant: small-caps;
    color: #0243bb;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card:hover{
    box-shadow: 0px 0px 10px #0243bb;
}

h1{
   text-align: center;
}

/*kivéve a home h1-e*/
h1:not(#home h1){
    color: #0243bb;
}

.navbar{
    background-color: #0243bb;
    font-family: 'Frederika the Great';
}

header{
    height: 400px;
    background-position: center center;
    background-size: cover;
    background-color: #3F6BF0;
    background-image: url("../img/farkas_1920.jpg");
}

#home{
      height: 100vh;
      
}  

hr{
    size: 0.5rem;
    width: 200px;
    margin: auto;
}

.rend-img{
    border: 1px solid #0243bb;
    border-radius: 4px;
}

h2:not(footer h2){
    color: #0243bb;
}

.sorki{
    text-align: justify;
}

footer{
    background-color: #3F6BF0;
    color: white;
    padding: 10px;
    
}
    
footer li{
    list-style-type:none;
}
    
footer li>img{
    width: 15px;
    margin-right: 15px;
}

a:link {
    text-decoration: none;
}

.flip-card {
    background-color: transparent;
    width: 384px;
    height: 384px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #A6987F;
    color: white;
    transform: rotateY(180deg);
  }
  
  .team{
    color: #000;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border: 5px solid black;
    margin-top: 75px;
    padding: 10px;
  }